@import "tailwindcss";

body {
    background-color: #1a0b2e;
    color: #e0e0e0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1a0b2e;
}

::-webkit-scrollbar-thumb {
    background: #2d1b4e;
    border: 1px solid #ff00ff;
}